<p id="notice"><%= notice %></p>

<p>
  <b>Nombre:</b>
  <%= @cliente_credito.nombre %>
</p>

<p>
  <b>Direccion:</b>
  <%= @cliente_credito.direccion %>
</p>

<p>
  <b>Empresa:</b>
  <%= @cliente_credito.empresa %>
</p>

<p>
  <b>Limite credito:</b>
  <%= @cliente_credito.limite_credito %>
</p>

<p>
  <b>Limite dias:</b>
  <%= @cliente_credito.limite_dias %>
</p>

<p>
  <b>Referencia 1:</b>
  <%= @cliente_credito.referencia_1 %>
</p>

<p>
  <b>Telefono ref 1:</b>
  <%= @cliente_credito.telefono_ref_1 %>
</p>

<p>
  <b>Celular ref 1:</b>
  <%= @cliente_credito.celular_ref_1 %>
</p>

<p>
  <b>Referencia 2:</b>
  <%= @cliente_credito.referencia_2 %>
</p>

<p>
  <b>Telefono ref 2:</b>
  <%= @cliente_credito.telefono_ref_2 %>
</p>

<p>
  <b>Celular ref 2:</b>
  <%= @cliente_credito.celular_ref_2 %>
</p>

<%= link_to 'Editar', edit_cliente_credito_path(@cliente_credito) %> |
<%= link_to 'Atras', cliente_creditos_path %>

<h2>Facturas pendientes</h2>

<table>
  <tr>
    <th>Fecha</th>
    <th>Numero</th>
    <th>Cliente credito</th>
    <th>Estado</th>
    <th>Anulada</th>
    <th>Total</th>
    <th>Pagos</th>
    <th>Saldo</th>
    <th></th>
    <th></th>
  </tr>

<%total_pendiente = 0%>
<%pagos_pendiente = 0%>
<%saldo_pendiente = 0%>
<% @cliente_credito.factura_creditos.each do |factura_credito| %>
	<% if factura_credito.getSaldo > 0 %>
		<tr>
		  <td><%= factura_credito.fecha %></td>
		  <td><%= factura_credito.numero %></td>
		  <td><%= factura_credito.cliente_credito.nombre %></td>
		  <td><%= factura_credito.estado %></td>
			<% if factura_credito.anulada==true %>
		  	<td>si</td>
			<% else %>
		  	<td>no</td>
				<%total_pendiente += factura_credito.getTotal%>
				<%pagos_pendiente += factura_credito.getTotalPagos%>
				<%saldo_pendiente += factura_credito.getSaldo%>
			<% end %>
		  <td><%= factura_credito.getTotal %></td>
		  <td><%= factura_credito.getTotalPagos %></td>
		  <td><%= factura_credito.getSaldo %></td>
		  <td><%= link_to 'Mostrar', factura_credito %></td>
		  <td><%= link_to 'Editar', edit_factura_credito_path(factura_credito) %></td>
		</tr>
	<% end %>
<% end %>

  <tr>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
    <th><b>Totales:</b></th>
    <th><b><%=total_pendiente%></b></th>
    <th><b><%=pagos_pendiente%></b></th>
    <th><b><%=saldo_pendiente%></b></th>
    <th></th>
    <th></th>
  </tr>

</table>

<h2>Facturas pagadas</h2>

<table>
  <tr>
    <th>Fecha</th>
    <th>Numero</th>
    <th>Cliente credito</th>
    <th>Estado</th>
    <th>Anulada</th>
    <th>Total</th>
    <th>Pagos</th>
    <th>Saldo</th>
    <th></th>
    <th></th>
  </tr>

<%total_pagadas = 0%>
<%pagos_pagadas = 0%>
<%saldo_pagadas = 0%>
<% @cliente_credito.factura_creditos.each do |factura_credito| %>
	<% if factura_credito.getSaldo <= 0 %>
		<tr>
		  <td><%= factura_credito.fecha %></td>
		  <td><%= factura_credito.numero %></td>
		  <td><%= factura_credito.cliente_credito.nombre %></td>
		  <td><%= factura_credito.estado %></td>
			<% if factura_credito.anulada==true %>
		  	<td>si</td>
			<% else %>
		  	<td>no</td>
				<%total_pagadas += factura_credito.getTotal%>
				<%pagos_pagadas += factura_credito.getTotalPagos%>
				<%saldo_pagadas += factura_credito.getSaldo%>
			<% end %>
		  <td><%= factura_credito.getTotal %></td>
		  <td><%= factura_credito.getTotalPagos %></td>
		  <td><%= factura_credito.getSaldo %></td>
		  <td><%= link_to 'Mostrar', factura_credito %></td>
		  <td><%= link_to 'Editar', edit_factura_credito_path(factura_credito) %></td>
		</tr>
	<% end %>
<% end %>

  <tr>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
    <th><b>Totales:</b></th>
    <th><b><%=total_pagadas%></b></th>
    <th><b><%=pagos_pagadas%></b></th>
    <th><b><%=saldo_pagadas%></b></th>
    <th></th>
    <th></th>
  </tr>

</table>
