<p id="notice"><%= notice %></p>

<div id="print-button">
	<br/>
	<br/>
	<br/>
		<a style="font-size:20pt;line-height:25pt;"  href="javascript:window.print()">Imprimir</a>
	<br/>
	<br/>
	<br/>
		<%= link_to 'Anular', edit_factura_efectivo_path(@factura_efectivo) %> |
		<%= link_to 'Atras', factura_efectivos_path %>
	<br/>
	<br/>
	<br/>
</div>

<h2 style="text-align: center;">Tecnicolor</h2>
<p style="text-align: center;">Bo.La Guardia,27 Cll,Ave.Nueva Orleans, San Pedro Sula, Honduras C.A. Tel.: 2556-5156</p>
<p style="text-align: center;">R.T.N. 05019010294807</p>
<div style="text-align: right;font-size: 20px;">
		<%= @factura_efectivo.fecha %> &nbsp &nbsp - &nbsp &nbsp Efectivo &nbsp &nbsp - &nbsp &nbsp <%= @factura_efectivo.numero %>
</div>

<p>
  <b>Cliente:</b>
  <%= @factura_efectivo.cliente %>
</p>

<table style="width: 600px;">
  <tr>
    <th>Producto</th>
    <th>Cantidad</th>
    <th>Precio unitario</th>
    <th>Subtotal</th>
  </tr>

<% @factura_efectivo.producto_factura_efectivos.each do |producto_factura_efectivo| %>
  <tr>
    <td><%= producto_factura_efectivo.producto.nombre + " - "+ producto_factura_efectivo.producto.descripcion %></td>
    <td><%= producto_factura_efectivo.cantidad %></td>
    <td><%= producto_factura_efectivo.precio %></td>
		<% if producto_factura_efectivo.cantidad != nil && producto_factura_efectivo.precio != nil%>
	    <td><%= (((producto_factura_efectivo.precio * producto_factura_efectivo.cantidad)*100.0).round)/100.0 %></td>
		<% else %>
	    <td>Error: Nulo</td>
		<% end %>
  </tr>
<% end %>
  <tr>
    <td></td>
    <td></td>
    <td>Subtotal:</td>
    <td><%= @factura_efectivo.getSubtotal %></td>
  </tr>
  <tr>
    <td></td>
    <td></td>
    <td>I.S.V:</td>
    <td><%= ((@factura_efectivo.getTotal.ceil-@factura_efectivo.getSubtotal)*100.0).round/100.0 %></td>
  </tr>
  <tr>
    <td></td>
    <td></td>
    <td><b>Total:</b></td>
    <td><b><%= @factura_efectivo.getTotal.ceil %>.00</b></td>
  </tr>
</table>

<% if @factura_efectivo.observaciones != "" && @factura_efectivo.observaciones != nil %>
	<%="Observaciones: "+@factura_efectivo.observaciones%>
<% end %>
