<h1>Listado de facturas en tarjeta</h1>

<table>
  <tr>
    <th>Fecha</th>
    <th>Numero</th>
    <th>Cliente</th>
    <th>Direccion</th>
    <th>Anulada</th>
    <th></th>
    <th></th>
  </tr>

<% @factura_tarjeta.each do |factura_tarjetum| %>
  <tr>
    <td><%= factura_tarjetum.fecha %></td>
    <td><%= factura_tarjetum.numero %></td>
    <td><%= factura_tarjetum.cliente %></td>
    <td><%= factura_tarjetum.direccion %></td>
    <td><%= factura_tarjetum.anulada %></td>
    <td><%= link_to 'Mostrar', factura_tarjetum %></td>
    <td><%= link_to 'Anular', edit_factura_tarjetum_path(factura_tarjetum) %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Nueva Factura en tarjeta', new_factura_tarjetum_path %>
