<p id="notice"><%= notice %></p>

<div id="print-button">
	<br/>
	<br/>
	<br/>
		<a style="font-size:20pt;line-height:25pt;"  href="javascript:window.print()">Imprimir</a>
	<br/>
	<br/>
	<br/>
		<%= link_to 'Anular', edit_factura_tarjetum_path(@factura_tarjetum) %> |
		<%= link_to 'Atras', factura_tarjeta_path %>
	<br/>
	<br/>
	<br/>
</div>

<h2 style="text-align: center;">Tecnicolor</h2>
<p style="text-align: center;">Bo.La Guardia,27 Cll,Ave.Nueva Orleans, San Pedro Sula, Honduras C.A. Tel.: 2556-5156</p>
<p style="text-align: center;">R.T.N. 05019010294807</p>
<div style="text-align: right;font-size: 20px;">
		<%= @factura_tarjetum.fecha %> &nbsp &nbsp - &nbsp &nbsp Tarjeta &nbsp &nbsp - &nbsp &nbsp <%= @factura_tarjetum.numero %>
</div>

<p>
  <b>Cliente:</b>
  <%= @factura_tarjetum.cliente %>
</p>

<table style="width: 600px;">
  <tr>
    <th>Producto</th>
    <th>Cantidad</th>
    <th>Precio unitario</th>
    <th>Subtotal</th>
  </tr>

<% @factura_tarjetum.producto_factura_tarjeta.each do |producto_factura_tarjetum| %>
  <tr>
    <td><%= producto_factura_tarjetum.producto.nombre + " - "+ producto_factura_tarjetum.producto.descripcion %></td>
    <td><%= producto_factura_tarjetum.cantidad %></td>
    <td><%= producto_factura_tarjetum.precio %></td>
		<% if producto_factura_tarjetum.cantidad != nil && producto_factura_tarjetum.precio != nil%>
	    <td><%= (((producto_factura_tarjetum.precio * producto_factura_tarjetum.cantidad)*100.0).round)/100.0 %></td>
		<% else %>
	    <td>Error: Nulo</td>
		<% end %>
  </tr>
<% end %>
  <tr>
    <td></td>
    <td></td>
    <td>Subtotal:</td>
    <td><%= @factura_tarjetum.getSubtotal %></td>
  </tr>
  <tr>
    <td></td>
    <td></td>
    <td>I.S.V:</td>
    <td><%= ((@factura_tarjetum.getTotal.ceil-@factura_tarjetum.getSubtotal)*100.0).round/100.0 %></td>
  </tr>
  <tr>
    <td></td>
    <td></td>
    <td><span style="font-size:15pt;">Total:</span></td>
    <td><span style="font-size:15pt;"><%= @factura_tarjetum.getTotal.ceil %>.00</span></td>
  </tr>
</table>

<% if @factura_tarjetum.observaciones != "" && @factura_tarjetum.observaciones != nil %>
	<%="Observaciones: "+@factura_tarjetum.observaciones%>
<% end %>
