<%= form_for(@pago_tarjetum) do |f| %>
  <% if @pago_tarjetum.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@pago_tarjetum.errors.count, "error") %> prohibited this pago_tarjetum from being saved:</h2>

      <ul>
      <% @pago_tarjetum.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :anulada %><br />
    <%= f.check_box :anulada %>
  </div>
  <div class="actions">
    <%= f.submit "Finalizar" %>
  </div>
<% end %>
