<h1>Todos los productos</h1>
<table>
  <tr>
    <th>Nombre</th>
    <th>Descripcion</th>
    <th>Categoria</th>
    <th>Precio maximo</th>
    <th>Precio minimo</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @productos.each do |producto| %>
  <tr>
    <td><%= producto.nombre %></td>
    <td><%= producto.descripcion %></td>

    <td>
		<%if producto.categorium!= nil %>
			<%= producto.categorium.nombre %>
		<% else %>
			error
		<% end %>
		</td>
    <td><%= producto.precio_maximo %></td>
    <td><%= producto.precio_minimo %></td>
    <td><%= link_to 'Mostrar', producto %></td>
    <td><%= link_to 'Editar', edit_producto_path(producto) %></td>
    <td><%= link_to 'Borrar', producto, method: :delete, data: { confirm: '¿Esta seguro?' } %></td>
  </tr>
<% end %>
</table>
