<h1>Listado de categorias</h1>

<h2>Unitario</h2>
<table>
  <tr>
    <th>Nombre</th>
    <th>Tipo de reporte</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @categoria.each do |categorium| %>
	<% if categorium.tipo_reporte == "unitario" %>
	  <tr>
	    <td><%= categorium.nombre %></td>
	    <td><%= categorium.tipo_reporte %></td>
	    <td><%= link_to 'Mostrar', categorium %></td>
	    <td><%= link_to 'Editar', edit_categorium_path(categorium) %></td>
	    <td><%= link_to 'Borrar', categorium, method: :delete, data: { confirm: 'Are you sure?' } %></td>
	  </tr>
	<% end %>
<% end %>
</table>

<h2>Galon densidad</h2>
<table>
  <tr>
    <th>Nombre</th>
    <th>Tipo de reporte</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @categoria.each do |categorium| %>
	<% if categorium.tipo_reporte == "galon densidad" %>
	  <tr>
	    <td><%= categorium.nombre %></td>
	    <td><%= categorium.tipo_reporte %></td>
	    <td><%= link_to 'Mostrar', categorium %></td>
	    <td><%= link_to 'Editar', edit_categorium_path(categorium) %></td>
	    <td><%= link_to 'Borrar', categorium, method: :delete, data: { confirm: 'Are you sure?' } %></td>
	  </tr>
	<% end %>
<% end %>
</table>

<h2>Galon viejo (ya no se usará)</h2>
<table>
  <tr>
    <th>Nombre</th>
    <th>Tipo de reporte</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @categoria.each do |categorium| %>
	<% if categorium.tipo_reporte == "galon" %>
	  <tr>
	    <td><%= categorium.nombre %></td>
	    <td><%= categorium.tipo_reporte %></td>
	    <td><%= link_to 'Mostrar', categorium %></td>
	    <td><%= link_to 'Editar', edit_categorium_path(categorium) %></td>
	    <td><%= link_to 'Borrar', categorium, method: :delete, data: { confirm: 'Are you sure?' } %></td>
	  </tr>
	<% end %>
<% end %>
</table>

<br />

<%= link_to 'Nueva Categoria', new_categorium_path %>
