<p id="notice"><%= notice %></p>

<p>
  <b>Producto:</b>
  <%= @producto_factura_tarjetum.producto_id %>
</p>

<p>
  <b>Factura:</b>
  <%= @producto_factura_tarjetum.factura_id %>
</p>

<p>
  <b>Cantidad:</b>
  <%= @producto_factura_tarjetum.cantidad %>
</p>

<p>
  <b>Precio:</b>
  <%= @producto_factura_tarjetum.precio %>
</p>


<%= link_to 'Edit', edit_producto_factura_tarjetum_path(@producto_factura_tarjetum) %> |
<%= link_to 'Back', producto_factura_tarjeta_path %>
