<h1>Productos en mal estados</h1>

<table>
  <tr>
    <th>Fecha</th>
    <th>Producto</th>
    <th>Cantidad</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @salida_producto_mal_estados.each do |salida_producto_mal_estado| %>
  <tr>
    <td><%= salida_producto_mal_estado.fecha %></td>
    <td><%= salida_producto_mal_estado.producto.nombre %></td>
    <td><%= salida_producto_mal_estado.cantidad %></td>
    <td><%= link_to 'Mostrar', salida_producto_mal_estado %></td>
    <td><%= link_to 'Editar', edit_salida_producto_mal_estado_path(salida_producto_mal_estado) %></td>
    <td><%= link_to 'Borrar', salida_producto_mal_estado, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Nueva Salida de producto en mal estado', new_salida_producto_mal_estado_path %>
