<p id="notice"><%= notice %></p>

<p>
  <b>Fecha:</b>
  <%= @salida_producto_mal_estado.fecha %>
</p>

<p>
  <b>Producto:</b>
  <%= @salida_producto_mal_estado.producto.nombre %>
</p>

<p>
  <b>Cantidad:</b>
  <%= @salida_producto_mal_estado.cantidad %>
</p>


<%= link_to 'Editar', edit_salida_producto_mal_estado_path(@salida_producto_mal_estado) %> |
<%= link_to 'Atras', salida_producto_mal_estados_path %>
