<%= form_for(@producto) do |f| %>
  <% if @producto.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@producto.errors.count, "error") %> prohibited this producto from being saved:</h2>

      <ul>
      <% @producto.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :nombre %><br />
    <%= f.text_field :nombre %>
  </div>
  <div class="field">
    <%= f.label :descripcion %><br />
    <%= f.text_field :descripcion %>
  </div>
  <div class="field">
    <%= f.label :categorium_id %><br />
    <%= f.collection_select :categorium_id, Categorium.all, :id, :nombre %>
  </div>
  <div class="field">
    <%= f.label :marca_id %><br />
    <%= f.collection_select :marca_id, Marca.all, :id, :nombre %>
  </div>
  <div class="field">
    <%= f.label :cantidad_galones_por_unidad %><br />
		<%= f.select(:cantidad_galones, options_for_select([['5', 5],['4', 4],['3', 3],['2', 2],['1', 1], ['3/4', 0.75],['1/2', 0.5],['1/4', 0.25],['1/8', 0.125],['1/16', 0.0625],['1/32', 0.03125],['1/64 - 2 onzas', 0.015625],['1/128 - 1 onza', 0.0078125]])) %>
  </div>
  <div class="field">
    <%= f.label :precio_maximo %><br />
    <%= f.text_field :precio_maximo %>
  </div>
  <div class="field">
    <%= f.label :precio_minimo %><br />
    <%= f.text_field :precio_minimo %>
  </div>
  <div class="field">
    <%= f.label :precio_costo %><br />
    <%= f.text_field :precio_costo %>
  </div>
  <div class="actions">
    <%= f.submit "Finalizar"%>
  </div>
<% end %>
