<p id="notice"><%= notice %></p>

<div id="print-button">
	<br/>
	<br/>
	<br/>
		<a style="font-size:20pt;line-height:25pt;"  href="javascript:window.print()">Imprimir</a>
	<br/>
	<br/>
	<br/>
		<%= link_to 'Anular', edit_factura_cheque_path(@factura_cheque) %> |
		<%= link_to 'Atras', factura_cheques_path %>
	<br/>
	<br/>
	<br/>
</div>

<p>Factura ejemplo</p>

<h2 style="text-align: center;">Tecnicolor</h2>
<p style="text-align: center;">Bo.La Guardia,27 Cll,Ave.Nueva Orleans, San Pedro Sula, Honduras C.A. Tel.: 2556-5156</p>
<p style="text-align: center;">R.T.N. 05019010294807</p>
<div style="text-align: right;font-size: 20px;">
		<%= @factura_cheque.fecha %> &nbsp &nbsp - &nbsp &nbsp Cheque &nbsp &nbsp - &nbsp &nbsp <%= @factura_cheque.numero %>
</div>

<table style="width: 600px;">
  <tr>
    <th>Cliente</th>
    <th>Nº Cheque</th>
    <th>Banco</th>
  </tr>
  <tr>
    <td><%= @factura_cheque.cliente %></td>
    <td><%= @factura_cheque.numero_cheque %></td>
		<td><%= @factura_cheque.banco %></td>
  </tr>
</table>

<table style="width: 600px;">
  <tr>
    <th>Producto</th>
    <th>Cantidad</th>
    <th>Precio unitario</th>
    <th>Subtotal</th>
  </tr>

<% @factura_cheque.producto_factura_cheques.each do |producto_factura_cheque| %>
  <tr>
    <td><%= producto_factura_cheque.producto.nombre+ " - "+ producto_factura_cheque.producto.descripcion %></td>
    <td><%= producto_factura_cheque.cantidad %></td>
    <td><%= producto_factura_cheque.precio %></td>
		<% if producto_factura_cheque.cantidad != nil && producto_factura_cheque.precio != nil%>
	    <td><%= (((producto_factura_cheque.precio * producto_factura_cheque.cantidad)*100.0).round)/100.0 %></td>
		<% else %>
	    <td>Error: Nulo</td>
		<% end %>
  </tr>
<% end %>
  <tr>
    <td></td>
    <td></td>
    <td>Subtotal:</td>
    <td><%= @factura_cheque.getSubtotal %></td>
  </tr>
  <tr>
    <td></td>
    <td></td>
    <td>I.S.V:</td>
    <td><%= ((@factura_cheque.getTotal.ceil-@factura_cheque.getSubtotal)*100.0).round/100.0 %></td>
  </tr>
  <tr>
    <td></td>
    <td></td>
    <td><span style="font-size:15pt;">Total:</span></td>
    <td><span style="font-size:15pt;"><%= @factura_cheque.getTotal.ceil %>.00</span></td>
  </tr>
</table>

<% if @factura_cheque.observaciones != "" && @factura_cheque.observaciones != nil %>
	<%="Observaciones: "+@factura_cheque.observaciones%>
<% end %>
