$('#resultados_tabla tr').remove();

$('#resultados_tabla').append("<tr>"+
    "<th>Id</th>	"+
    "<th>Nombre</th>"+
    "<th>Descripcion</th>"+
    "<th>Precio max</th>"+
    "<th>Precio min</th>"+
    "<th></th>"+
    "<th></th>"+
    "<th></th>"+
  "</tr>");

<%@productos.each do |p|%>
$('#resultados_tabla').append("<tr>"+
                "<td><%=p.id%></td>"+
                "<td><%=p.nombre%></td>"+
                "<td><%=p.descripcion%></td>"+
                "<td><%=p.precio_maximo%></td>"+
                "<td><%=p.precio_minimo%></td>"+
                "<td><a id=\"<%=p.id%>\">Seleccionar</a></td>"+
                "</tr>");

$("#<%=p.id%>").click(function() {
 $('#pr13 input[type="number"]').val("<%=p.id%>");
});
<%end%>
