<p id="notice"><%= notice %></p>

<p>
  <b>Producto:</b>
  <%= @producto_factura_credito.producto_id %>
</p>

<p>
  <b>Factura:</b>
  <%= @producto_factura_credito.factura_id %>
</p>

<p>
  <b>Cantidad:</b>
  <%= @producto_factura_credito.cantidad %>
</p>

<p>
  <b>Precio:</b>
  <%= @producto_factura_credito.precio %>
</p>


<%= link_to 'Edit', edit_producto_factura_credito_path(@producto_factura_credito) %> |
<%= link_to 'Back', producto_factura_creditos_path %>
